#root {
	margin: 0 auto;
	padding: 2rem;
	font-family: sans-serif;
	color: whitesmoke;
}

body {
	background-color: rgb(24, 28, 53);
}

table,
table :is(th, td) {
	border: 1px solid rgb(199, 199, 199);
	border-collapse: collapse;
}

th,
td {
	padding: 0.2rem 0.5rem;
}

.table-container {
	min-height: 250px;
}

.options {
	margin: 2.5rem 0.5rem;
}

label {
	margin-right: 0.25rem;
}
